# Visual Studio and Rider IDE files
/.vs/
/.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build and Output Directories
/bin/
/obj/
out/
Debug/
Release/

# User-Specific Files
*.rsuser
*.swp
*.sln.cache

# Dependency Folders
packages/
node_modules/

# Logs and Database Files
*.log
logs/
app.db
app.db-journal

# Configuration Files (Sensitive Data)
.env
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json

# Static Assets and Compiled Files
wwwroot/node_modules/
wwwroot/lib/
wwwroot/dist/
wwwroot/build/

# Publish Output
PublishScripts/
publish/
*.pid
*.lock

# Docker
docker-compose.override.yml
*.tar

# Resharper & Rider
*.DotSettings
*.DotSettings.user
ClusterSystem/.vs/ClusterBackendAPI/FileContentIndex/33c943c7-91b7-4bf1-93a2-6178cb1cdba5.vsidx
ClusterSystem/.vs/ClusterBackendAPI/FileContentIndex/485c3085-777a-4025-9306-b297a3d1d67f.vsidx
